.entity-group {
    margin-top: 50px;
}

.entity-group-container {
    width: 100%;
    max-width: 1000px;
}

.entity-group-list {
    margin-top: 20px;
    width: 100%;
}

.entity-group-root {
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
}
